@import url(http://fonts.googleapis.com/css?family=Poiret+One|Sintony);

body {
  font-family: Sans;
  font-size: 14px;
  height: 100%
  margin:0;
  padding:0;
}
a {
  color: #077BBD;
  text-decoration: none;
  font-family:Tahoma,Verdana,Arial;
}
#wrapper {
  width:970px;
  padding:5px;
  margin:auto;
}
#wrapper h1 {
  font-family:'Poiret One', cursive;
  font-size:68px;
  font-weight:400;
  padding-bottom:10px;
}
#wrapper p {
  padding: 5px 2px 5px 2px;
}
#post h1 {
  font-family:'Poiret One', cursive;
  font-size:32px;
  font-weight:400;
  padding-bottom:10px;
}
.left {
  float:left;
  width:720px;
}
.right {
  float:right;
  width:220px;
  background-color:#f9f9f9;
  padding-bottom:20px;
}
#about {
  font-family:Tahoma,Verdana,Arial;
  font-size:12px;
  width:220px;
}
#about .name {
  font-family:Sintony;
  font-size:18px;
  padding: 5px 0 2px 0;
}
#about .tag-line {
  padding-bottom: 10px;
  font-size:16px;
}
#archive {
  text-align:left;
  width:200px;
  font-size:12px;
  padding:15px 0 5px 2px;
}
#archive h2 {
  padding:5px 0 5px 0;
  font-family:Sintony;
  border-bottom:1px solid #999c9f;
}
#archive h3 {
  padding:15px 0 5px 0;
  font-family:Sintony;
}
#archive .one {

}
#archive .two {

}
#archive .posts .date {
  padding-top:2px;
  padding-bottom:2px;
}
#archive .posts a {
  font-size:13px;
}
#archive ul {
  padding-bottom:5px;
  border-bottom:1px solid #999c9f;
}
#recent-posts {
  font-size:16px;
}
#recent-posts h2 {
  font-family:Sintony;
  font-size:22px;
  border-bottom:1px solid #999c9f;
  background-color:#eeeeee;
}
#recent-posts .posts {
  padding-top:5px;
  padding-bottom:15px;
  line-height:25px;
}
#recent-posts .date {
  color:#024e7b;
}
.fixed-width {
  float:left;
  width:125px;
}
.post-url {
  float:right;
  width: 580px;
}
.clear {
  border-top:1px dotted #eeeeee;
  clear:both;
}
.post-footer {
  line-height:16px;
  margin-bottom:20px;
}
.twitter-follow-button {

}
#footer {
  clear:both;
  width: 100%;
  height: 145px;   /* Height of the footer */
  background:#024e7b;
  color:#CCCfff;
  font-size:14px;
}
#footer p {
  padding:5px 2px 5px 2px;
  text-align:center;
  font-family:Sintony;
}
pre code {
  font-family: monospace;
  background-color:#f3f3f3;
  border-left:2px solid #b4b4b4;
  padding:4px;
  line-height:20px;
}
.gist {
  line-height:18px;
}
.gist-file{
  border: none !important;
}
.gist-meta{
  border: 1px solid #D2d2d2 !important;
  padding: 12px !important;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
.gist-data{
  border: 1px solid #D2d2d2 !important;
  border-bottom: none !important;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}
div .file-data {
  font-size:12px;
}