---
layout: default
title: Justin &raquo; Jetfive.com
---
<h1><a href="/index.html">&laquo;</a></h1>
<div class="left">
  <div id="recent-posts">
    {% for post in site.posts %}
    <div class="posts">
      <div class="date fixed-width">{{ post.date | date: "%b %d, %Y" }}</div>
      <div class="post-url"><a href="{{ post.url }}">{{ post.title }}</a></div>
      <div class="clear"></div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="right">
  {% include about.html %}
  {% include archive_recent.html %}
</div>
