<div id="archive">
  <h2>Recent Blog Posts</h2>
  <ul class="posts">
    {% for post in site.posts limit:15  %}
    <div class="date">{{ post.date | date: "%b %d, %Y" }}</div>
    {% if page.url == post.url %}
    <li class="{% cycle 'one', 'two' %} active">
      {% else %}
    <li class="{% cycle 'one', 'two' %}">
      {% endif %}
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <h3>&raquo; <a href="/archive.html">All Blog Posts</a> &laquo;</h3>
  <h3>
    <a href="https://twitter.com/jrichter" class="twitter-follow-button" data-show-count="false">Follow @jrichter</a>
  </h3>
  <h3>
    <a href="https://coderwall.com/jrichter"><img alt="Endorse jrichter on Coderwall" src="http://api.coderwall.com/jrichter/endorsecount.png" /></a>
  </h3>
</div>
