<h3>
    <a href="https://twitter.com/jrichter" class="twitter-follow-button" data-show-count="false">Follow @jrichter</a>
  </h3>
  <h3>
    <a href="https://coderwall.com/jrichter"><img alt="Endorse jrichter on Coderwall" src="http://api.coderwall.com/jrichter/endorsecount.png" /></a>
  </h3>
  <h3>
    <a href="https://pinboard.in/u:jrichter"><i class="icon-pushpin icon-large"></i>&nbsp;jrichter's pinboard</a>
  </h3>
  <h3>
    <a href="https://github.com/jrichter"><i class="icon-github-sign icon-large"></i>&nbsp;jrichter</a>
  </h3>
