<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Justin Richter" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      {{ content }}
    </div>
    <div class="clear"></div>
    {% include footer.html %}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
