<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{page.title}}-{{ site.name }}</title>
    <meta name="author" content="Justin Richter" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <h1><a href="/index.html">&laquo;</a></h1>
      <div class="left">
        <div id="recent-posts">
          <div id="nav"><a href="{{ page.next.url }}" title="Forward Sir">&laquo;</a> &ndash; <a href="{{ page.previous.url }}" title="Back in Time"> &raquo;</a></div>
          <div class="posts">
            <h2>{{ page.title }}</h2>
            <span class="date">{{ page.date | date: "%b %d, %Y" }}</span>
            <div class="post-content">
              {{ content }}
            </div>
            {% include post_footer.html %}
          </div>
        </div>
      </div>
      <div class="right">
        {% include about.html %}
        {% include archive_recent.html %}
      </div>
    </div>
    <div class="clear"></div>
    {% include footer.html %}

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
